body
{
background-image: url("nightbg.png");
}
@font-face {
     font-family: rothenbg;
     src: url(fonts/rothenbg.ttf);

     font-family: FBI;
     src: url(fonts/FBIOldReport-Regular.ttf);
}
#introView
{
     text-align: center;
}
#mainTitle
{
     color: #dddddd;
     font-family: FBI;
     font-size: 80pt;
     font-weight: 500;
}
#userInput
{
width: 60%;
}
#whatIs
{
     color: #000000;
}
#chat
{

     height: 300px;
     overflow: auto;
     display: flex;
     flex-direction: column-reverse;
     border: 3px solid;
     border-color: #aaaaaa;
     border-radius: 1px;
     background-color: #ffffff;
}
.newMessage
{
     padding-top, padding-bottom: 3px;
     flex-flow: column-reverse;
}
#lobby
{
      display: none;
}
#online
{
     width: 200px;

}
.username-list-item
{
     list-style-type: none;
}
#lobbyUserList
{
     background-color: rgba(255,255,255,0.7);

}
.ready
{
     color: #00aa00;
}
