body
{
     margin-top: 25px;
}
#chat
{

     height: 300px;
     overflow: hidden;
     overflow-y: scroll;
     border: 3px solid;
     border-color: #aaaaaa;
     border-radius: 1px;
     background-color: #ffffff;
}
.newMessage
{
     padding-top, padding-bottom: 3px;
}
#lobby
{
      display: none;
}
#online
{
     width: 200px;

}
.username-list-item
{
     list-style-type: none;
}
